@media screen {

  :root {
    --dark-plum: #4B3D4D;
    --dusty-rose: #F4A7A9;
    --sage-green: #B2B9AD;
    --soft-grey: #CACACA;
    --off-white: #F9F9F9;

    --font-size-r:clamp(16px, 4vw, 20px); 
    --line-height-r:clamp(20px, 4vw, 26px); 
    --font-size-ml:clamp(20px, 4vw, 22px); 
    --line-height-ml:clamp(22px, 4vw, 26px);  
    --take-a-break:30px; 

    --font-family-nunito: var(--font-nunito);



  }


  html {

  }



  body {
    margin:0;
    padding:0;
    background-color: var(--sage-green);
    color:var(--dark-plum);
    font-family: var(--font-family-nunito);

    font-size:var(--font-size-r);
    line-height:var(--line-height-r);

    position:relative;
  }



  a {
    text-decoration:none;
  }

  h1{
    text-align:center;
  }

  .site{
    min-height:190vh;
  }

  img#logo{

  }

  #headerContainer{

 
  }

  header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding:10px 0;
   
  }

  .wrapper{
    max-width:1200px;
    margin:0 auto;
  }

  .contentPadding{
    padding:50px 0;
  }

  img#bgEdge, 
  img#lowerBgEdge{
    filter: brightness(0) saturate(100%) invert(37%) sepia(97%) saturate(328%) hue-rotate(52deg) brightness(96%) contrast(93%);
    position:absolute;
    
    height: auto;
    object-fit: fill;
  }

  img#bgEdge{
    width: 250px;
    left:0;
    top:0;
  }

  img#lowerBgEdge{
    width: 200px;
    right:0;
    bottom:0;
  }

  nav{
    display: flex;
    gap:15px;
  }

  nav a{
    background-color: var(--off-white);
    border-radius:15px;
    padding:5px 20px;
    color:black;
    font-weight:600;
    font-size:var(--font-size-ml);
  }

  nav a:hover{
    color:var(--dusty-rose);
  }

  #copyright{
    text-align:center;
    padding:10px 0;
  }



}